<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"/>

<body>

<nav th:replace="fragments/head.html :: navbar"/>

<div class="container">
    <div class="row py-2">

    <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th scope="col">Id
                        <a href="#"><i class="fa fa-sort-down"></i></a>
                    </th>
                    <th scope="col">Productname
                        <a href="#"><i class="fa fa-sort-down"></i></a>
                    </th>
                    <th scope="col">qty
                        <a href="#"><i class="fa fa-sort-down"></i></a>
                    </th>
                    <th scope="col">price</th>
                </tr>
                </thead>

            </table>
        </div>


    </div>
</div>

<th:block th:replace="fragments/footer.html :: scripts"/>

</body>
</html>