<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"/>

<body>

<nav th:replace="fragments/head.html :: navbar"/>

<div class="container">
    <div class="row py-2">

    <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th scope="col">Product
                        <a href="#"><i class="fa fa-sort-down"></i></a>
                    </th>
                    <th scope="col">QTY
                        <a href="#"><i class="fa fa-sort-down"></i></a>
                    </th>
                    <th scope="col">Price
                        <a href="#"><i class="fa fa-sort-down"></i></a>
                    </th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="item : ${items}">
                    <th th:text="${items.get(itemStat.index).getProduct().getDescription() }" scope="row"> </th>
                   <th th:text="${items.get(itemStat.index).getQty() }" scope="row"> </th>
                    <th th:text="${items.get(itemStat.index).getProduct().getPrice() }" scope="row"> </th>
                </tr>

                </tbody>

            </table>
        </div>


    </div>
</div>

<th:block th:replace="fragments/footer.html :: scripts"/>

</body>
</html>