<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"/>

<body>

<nav th:replace="fragments/head.html :: navbar"/>

<div class="container">
    <div class="row py-2">
        <div class="col-12" sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="btn btn-primary" th:href="@{/product/new}">Добавить</a>
        </div>

    <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th scope="col">Id
                        <a href="#"><i class="fa fa-sort-down"></i></a>
                    </th>
                    <th scope="col">Productname
                        <a href="#"><i class="fa fa-sort-down"></i></a>
                    </th>
                    <th scope="col">price
                        <a href="#"><i class="fa fa-sort-down"></i></a>
                    </th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${products.hasContent()}" th:each="product : ${products.content}">
                    <th th:text="${product.id}" scope="row">1</th>
                    <td th:text="${product.name}">Alex</td>
                    <td th:text="${product.description}">21</td>
                    <td th:text="${product.price}">21</td>
                    <td>
                        <a th:href="@{/product/addtocart/{id}(id = ${product.id})}"><i class="fas fa-shopping-cart"></i></a>
                        <a sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')" class="btn btn-success" th:href="@{/product/{id}(id = ${product.id})}"><i class="fas fa-edit"></i></a>
                        <form sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')" class="d-inline" th:method="delete" th:action="@{/product/{id}(id = ${product.id})}">
                            <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>


    </div>
</div>

<th:block th:replace="fragments/footer.html :: scripts"/>

</body>
</html>